= content_for :title do
  Livestream

%ul
  - @stream.each do |status|
    %li{:class => status.type }= raw t(status.type, :scope => [:messages, :stream], :user_name => status.user.name, :post_title => status.post.try(:title), :project => status.project)
